<div class="form">
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>title</mat-label>
    <input type="text" matInput [(ngModel)]="data.title">
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>text</mat-label>
    <input type="text" matInput [(ngModel)]="data.text">
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>duration</mat-label>
    <input type="number" matInput [(ngModel)]="data.duration">
  </mat-form-field>


  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>submitButton</mat-label>
    <input type="text" matInput [(ngModel)]="data.submitButton">
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>cancelButton</mat-label>
    <input type="text" matInput [(ngModel)]="data.cancelButton">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="create()">create</button>
</div>