:host {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0;
}



.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 330px;
    max-width: 90vw;
    margin: 32px auto;
    background: rgb(38, 38, 38);
    padding: 16px;
}